<form class="form">
  <div class="email-label-wrapper">
    <label class="email-label" htmlFor="email"> Email address </label>
    <label
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="email-label email-label-error"
      htmlFor="email"
    >
      Valid Email Required
    </label>
  </div>
  <input
    [formControl]="email"
    type="email"
    id="email"
    name="email"
    placeholder="email@company.com"
    [class.email-error]="email.invalid && (email.dirty || email.touched)"
  />
  <button (click)="emitEvent($event)" class="subscribe-button">
    Subscribe to monthly newsletter
  </button>
</form>
